<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">购课充值</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form" [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
            <div class="box-body">
              <div class="form-group">
                <label>学生姓名</label>
                <p>{{student.name}}</p>
              </div>
              <div class="form-group">
                <label>英文名</label>
                <p>{{student.ename}}</p>
              </div>
              <div class="form-group">
                  <label>外教课*</label>
                  <input type="number" class="form-control" formControlName="waijiao" >
              </div>
              <div class="form-group">
                  <label>中教课*</label>
                  <input type="number" class="form-control" formControlName="zhongjiao" >
              </div>
              <div class="form-group">
                  <label>精品课*</label>
                  <input type="number" class="form-control" formControlName="jingpin" >
              </div>
              <div class="form-group">
                  <label>金额*</label>
                  <input type="number" class="form-control" formControlName="money" >
              </div>
              <div class="form-group">
                  <label>课程顾问*</label>
                  <select formControlName="user_id" class="form-control">
                    <option value="0">暂无</option>
                    <option *ngFor="let agent of agents" value ="{{agent.id}}">{{agent.name}}</option>
                  </select>
              </div>
              <div class="form-group">
                <label>备注</label><br/>
                <textarea rows="3" cols="30" formControlName="note"></textarea>
              </div>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" class="btn btn-primary" [disabled]="disable">充值</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>