<div class="content-wrapper">
  <section class="content">
    <div class="row">
      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="http://placehold.it/128x128" alt="User profile picture">

            <h3 class="profile-username text-center">{{student.name}} {{student.ename}}</h3>

            <p class="text-muted text-center">{{student.sex}} {{student.age}} {{student.grade}}</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>课程阶段</b> <a class="pull-right">{{student.lessonstage}}</a>
              </li>
              <li class="list-group-item">
                <b>课程顾问</b> <a class="pull-right">{{student.agent}}</a>
              </li>
              <li class="list-group-item">
                <b>中教老师</b> <a class="pull-right">{{student.cteacher}}</a>
              </li>
              <li class="list-group-item">
                <b>课堂积分</b> <a class="pull-right">{{student.score}}</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>修改学生信息</b></a>
            <br/><br/>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>外教课时</b> <a class="pull-right">{{student.waijiaocost}}/{{student.waijiaototal}}</a>
              </li>
              <li class="list-group-item">
                <b>中教课时</b> <a class="pull-right">{{student.zhongjiaocost}}/{{student.zhongjiaototal}}</a>
              </li>
              <li class="list-group-item">
                <b>精品课时</b> <a class="pull-right">{{student.jingpincost}}/{{student.jingpintotal}}</a>
              </li>
              <li class="list-group-item">
                <b><a href="#">查看购课记录</a></b>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>购课充值</b></a>
            <br/><br/>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>email</b> <a class="pull-right">{{student.email}}</a>
              </li>
              <li class="list-group-item">
                <b>住址</b> <br/><a>&emsp;{{student.address}}</a>
              </li>
              <li class="list-group-item">
                <b>电话</b>
              </li>
              <li class="list-group-item" *ngFor="let phone of student.phones" >
                <b>&emsp;{{phone.name}}</b> <a class="pull-right">{{phone.phone_number}}</a>
              </li>
              <li class="list-group-item">
                <b>备注</b> <br/>
                <a>&emsp;{{student.desc}}</a>
              </li>
            </ul>

          </div>
          <!-- /.box-body -->
        </div>
      </div>

      <div class="col-md-9">

        <div class="row">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">已安排课程</h3>
              <a href="#" class="pull-right">安排课程</a>
            </div>

            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程名称</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程类型</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课日期</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课时间</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >中教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >外教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >上课地点</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lesson of student.newlessons" role="row">
                    <td><a [routerLink]="['/admin/lesson',lesson.id]">{{lesson.name}}</a></td>
                    <td>{{lesson.lesson_type}}</td>
                    <td>{{lesson.date}}</td>
                    <td>{{lesson.time}}</td>
                    <td>{{lesson.cteacher}}</td>
                    <td>{{lesson.fteacher}}</td>
                    <td>{{lesson.place}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">固定课程</h3>
              <a href="#" class="pull-right">增加固定课程</a>
            </div>

            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程名称</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程类型</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课日期</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课时间</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >中教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >外教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >上课地点</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let course of student.courses" role="row">
                    <td><a [routerLink]="['/admin/course',course.id]">{{course.name}}</a></td>
                    <td>{{course.lesson_type}}</td>
                    <td>每{{course.date}}</td>
                    <td>{{course.time}}</td>
                    <td>{{course.cteacher}}</td>
                    <td>{{course.fteacher}}</td>
                    <td>{{course.place}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">已完成课程</h3>
            </div>

            <div class="box-body">
              <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                  <tr role="row">
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程名称</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >课程类型</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课日期</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">上课时间</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >中教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >外教老师</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" >上课地点</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let lesson of student.oldlessons" role="row">
                    <td><a [routerLink]="['/admin/lesson',lesson.id]">{{lesson.name}}</a></td>
                    <td>{{lesson.lesson_type}}</td>
                    <td>{{lesson.date}}</td>
                    <td>{{lesson.time}}</td>
                    <td>{{lesson.cteacher}}</td>
                    <td>{{lesson.fteacher}}</td>
                    <td>{{lesson.place}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
