<div nz-row [nzGutter]="16">
  <div nz-col [nzSpan]="6">
    <nz-card [nzTitle]="nameTemplate" [nzExtra]="changeStudentInfoTemplate">
          <sv-container size="small" [col]="1">
            <sv label="性别" align="right">{{student.sex}}</sv>
            <sv label="年龄/年级" align="right">{{student.age}}岁/{{student.grade}}</sv>
            <sv label="课程顾问" align="right">{{student.agent}}</sv>
            <sv label="中教老师" align="right">{{student.cteacher}}</sv>
            <sv label="所在班级" *ngIf="student.team" align="right"><a [routerLink]="['/teams/team', student.team_id]">{{student.team}}</a></sv>
            <sv label="课堂积分" align="right">{{student.score}}</sv>
          </sv-container>
          <nz-divider></nz-divider>
          <sv-container size="small" [col]="1">
            <sv label="外教课时" align="right">剩:{{student.waijiao}}/总:{{student.waijiaototal}}节</sv>
            <sv label="中教课时" align="right">剩:{{student.zhongjiao}}/总:{{student.zhongjiaototal}}节</sv>
          </sv-container>
          <nz-divider></nz-divider>
          <div *ngIf="student.phones">
            <sv-container size="small" [col]="1" style="margin-bottom: 10px">
              <sv *ngFor="let phone of student.phones" label="电话({{phone.name}})" align="right">{{phone.phone_number}}</sv>
            </sv-container>
            <sv-container size="small" layout="vertical" [gutter]="40" [col]="1" >
              <sv label="email">{{student.email}}</sv>
              <sv label="住址">{{student.address}}</sv>
            </sv-container>
            <nz-divider></nz-divider>
            <sv-container size="small" layout="vertical">
              <sv label="备注"><p align="right">{{student.desc}}</p></sv>
            </sv-container>
            <div acl [acl-ability]="'student-status-change'">
              <nz-divider></nz-divider>
              <div nz-row [nzGutter]="16">
                <div nz-col [nzSpan]="12">
                  <button nz-button nzType="default" nzBlock [disabled]="student.status != 0 && student.status != 1" (click)="stopLessonsModal()">暂时停课</button>
                </div>
                <div nz-col [nzSpan]="12">
                  <button nz-button nzType="danger" nzBlock [disabled]="student.status < 0" (click)="stopModal()">移至不续费</button>
                </div>
              </div>
            </div>
          </div>
    </nz-card>
  </div>

  <div nz-col [nzSpan]="18">
    <nz-card nzTitle="固定课程" [nzExtra]="courseTemplate">
      <nz-table #coursesTable [nzData]="student.courses" nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false">
        <thead>
        <tr>
          <th>课程名称</th>
          <th>课程类型</th>
          <th>上课日期</th>
          <th>上课时间</th>
          <th>中教老师</th>
          <th>外教老师</th>
          <th>外教时间</th>
          <th>上课地点</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of coursesTable.data">
          <td>
            <a [routerLink]="['/lessons/course',course.id]">
              <ellipsis lines="1" style="width: 80px;">
                {{course.name}}
              </ellipsis>
            </a>
          </td>
          <td>{{course.lesson_type}}</td>
          <td>每{{course.dow | trans:dowList:'value':'label'}}</td>
          <td>{{course.stime*1000 | _date: 'HH:mm'}}~{{course.etime*1000 | _date: 'HH:mm'}}</td>
          <td>{{course.cteacher ? course.cteacher : '无'}}</td>
          <td>{{course.fteacher ? course.fteacher : '无'}}</td>
          <td>{{course.fteacher_time ? (course.fteacher_time*1000 | _date: 'HH:mm') : '无'}}</td>
          <td>{{course.place}}</td>
          <td>
            <a (click)="courseOp.deleteCourse(course.id)" acl [acl-ability]="'course-delete'">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>

    <nz-card id="tabCard">
      <nz-card-tab>
        <nz-tabset>
          <nz-tab nzTitle="待上课程">
            <nz-table #newLessonsTable [nzData]="student.newlessons" nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false">
              <thead>
              <tr>
                <th>课程名称</th>
                <th>课程类型</th>
                <th>上课日期</th>
                <th>上课时间</th>
                <th>中教老师</th>
                <th>外教老师</th>
                <th>外教时间</th>
                <th nzWidth="100px">上课地点</th>
                <th><a (click)="createLesson()" acl [acl-ability]="'lesson-create'">安排课程</a></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let lesson of newLessonsTable.data">
                <td>
                  <a [routerLink]="['/lessons/lesson',lesson.id]">
                    <ellipsis lines="1" style="width: 80px;">
                      {{lesson.name}}
                    </ellipsis>
                  </a>
                </td>
                <td>{{lesson.lesson_type}}</td>
                <td>{{lesson.date*1000 | _date: 'M月DD日(ddd)'}}</td>
                <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
                <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
                <td>{{lesson.fteacher ? lesson.fteacher : '无'}}</td>
                <td>{{lesson.fteacher_time ? (lesson.fteacher_time*1000 | _date: 'HH:mm') : '无'}}</td>
                <td>
                  <ellipsis lines="1">
                    {{lesson.place}}
                  </ellipsis>
                </td>
                <td>
                <span *ngIf="lesson.lesson_type_id == 'j'">
                  <a (click)="lessonOp.copy(lesson.id)">复制</a>
                  <nz-divider nzType="vertical"></nz-divider>
                </span>
                  <a (click)="lessonOp.deleteLesson(lesson.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="已上课程">
            <nz-table #oldLessonsTable [nzData]="student.oldlessons" nzSize="small" [nzPageSize]="6" [nzHideOnSinglePage]="true">
              <thead>
              <tr>
                <th>课程名称</th>
                <th>课程类型</th>
                <th>上课日期</th>
                <th>上课时间</th>
                <th>中教老师</th>
                <th>课程状态</th>
                <th>秏课</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let lesson of oldLessonsTable.data">
                <td>
                    <a [routerLink]="['/lessons/lesson',lesson.id]">
                      <ellipsis lines="1" style="width: 80px;">
                        {{lesson.name}}
                      </ellipsis>
                    </a>
                </td>
                <td>{{lesson.lesson_type}}</td>
                <td>{{lesson.date*1000 | _date: 'YYYY/MM/DD(ddd)'}}</td>
                <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
                <td>{{lesson.cteacher}}</td>
                <td><nz-badge [nzStatus]="'success'" [nzText]="lesson.status | trans:lessonStatusList:'value':'label'"></nz-badge></td>
                <td>{{lesson.waijiao_cost}}外/{{lesson.zhongjiao_cost}}中</td>
                <td>
                  <a (click)="lessonOp.deleteLesson(lesson.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="充值记录">
            <nz-table #rechargesTable [nzData]="student.recharges" nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false">
              <thead>
              <tr>
                <th>外教课时</th>
                <th>中教课时</th>
                <th>精品课时</th>
                <th>金额</th>
                <th>顾问</th>
                <th>时间</th>
                <th>备注</th>
                <th><a (click)="createRecharge()" acl [acl-ability]="'recharge-create'">购课充值</a></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let recharge of rechargesTable.data">
                <td>{{recharge.waijiao}}课时</td>
                <td>{{recharge.zhongjiao}}课时</td>
                <td>{{recharge.jingpin}}课时</td>
                <td>{{recharge.money | _currency}}</td>
                <td>{{recharge.user}}</td>
                <td>{{recharge.time*1000 | _date: 'YYYY/MM/DD'}}</td>
                <td>{{recharge.note}}</td>
                <td><a (click)="deleteRecharge(recharge.id)" acl [acl-ability]="'recharge-create'">删除</a></td>
              </tr>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </nz-card-tab>
    </nz-card>
  </div>
</div>

<ng-template #nameTemplate>
  {{ student.name }} {{ student.ename }}
  <nz-tag [nzColor]="'orange'" *ngIf="student.status == 2">停课中</nz-tag>
  <nz-tag [nzColor]="'#f50'" *ngIf="student.status == -2">不续费</nz-tag>
</ng-template>

<ng-template #changeStudentInfoTemplate>
  <a (click)="change()" acl [acl-ability]="['student-create']">修改信息</a>
  <!--<div [acl]="'student-create'" except>-->
    <a (click)="change()" acl [acl-ability]="['student-info-change']" *ngIf="student.cteacher_user_id == userid || student.agent_user_id == userid">修改信息</a>
  <!--</div>-->
</ng-template>

<ng-template #courseTemplate>
  <a (click)="createCourse()" acl [acl-ability]="'course-create'">安排固定课程</a>
</ng-template>