<div nz-row nzGutter="16">
    <div nz-col [nzSpan]="16">
        <nz-card [nzTitle]="lesson.name" [nzExtra]="buttonTemplate">
            <nz-table>
                <tbody>
                    <tr>
                        <td>学生姓名</td>
                        <td><a [routerLink]="['/students/student',lesson.student_id]">{{lesson.student}}</a></td>
                    </tr>
                    <tr>
                        <td>所属班级</td>
                        <td><a [routerLink]="['/teams/team',lesson.team_id]">{{lesson.team}}</a></td>
                    </tr>
                    <tr>
                        <td>课程类型</td>
                        <td>{{lesson.lesson_type}}</td>
                    </tr>
                    <tr>
                        <td>上课日期</td>
                        <td>每{{lesson.dow | trans:dowList:'value':'label'}}</td>
                    </tr>
                    <tr>
                        <td>中教老师</td>
                        <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
                    </tr>
                    <tr>
                        <td>上课时间</td>
                        <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
                    </tr>
                    <tr>
                        <td>外教老师</td>
                        <td>{{lesson.fteacher ? lesson.fteacher : '无'}}</td>
                    </tr>
                    <tr>
                        <td>外教时间</td>
                        <td>{{lesson.fteacher_time*1000 | _date: 'HH:mm'}}</td>
                    </tr>
                    <tr>
                        <td>秏课信息</td>
                        <td>外{{lesson.waijiao_cost}}/中{{lesson.zhongjiao_cost}}/精{{lesson.jingpin_cost}}</td>
                    </tr>
                    <tr>
                        <td>上课地点</td>
                        <td>{{lesson.place}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
        <ng-template #buttonTemplate>
            <a *ngIf="lesson.lesson_type != 'b'" (click)="change()">修改信息</a>
        </ng-template>
    </div>
</div>