<form nz-form [formGroup]="formModel">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>姓名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="name" placeholder="请输入用户姓名">
      <nz-form-explain *ngIf="formModel.get('name').dirty && formModel.get('name').errors">
        <ng-container *ngIf="formModel.get('name').hasError('required')">
          请输入学生姓名
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">英文名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="ename" placeholder="Enter english name">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="email" placeholder="email" type="email">
      <nz-form-explain *ngIf="formModel.get('email').dirty && formModel.get('email').errors">
        <ng-container *ngIf="formModel.get('email').hasError('required')">
          请输入用户邮箱
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">会议ID</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="mid">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">角色</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <!--<nz-select formControlName="role" nzPlaceHolder="Choose">-->
        <!--<nz-option *ngFor="let option of roleList" [nzValue]="option.id" [nzLabel]="option.cn_name"></nz-option>-->
      <!--</nz-select>-->
      <nz-select [nzMaxMultipleCount]="3" nzMode="multiple" nzPlaceHolder="选择角色" formControlName="role">
        <nz-option *ngFor="let option of roleList" [nzLabel]="option.cn_name" [nzValue]="option.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" (click)="save()" [disabled]="!formModel.valid" [nzLoading]="loading">保存</button>
  </div>
</form>
