<div class="aside-inner">
  <nz-dropdown nzTrigger="click" class="user-block clearfix">
    <div nz-dropdown class="user-block-dropdown">
      <!--<nz-avatar nzIcon="anticon anticon-user" [nzSrc]="settings.user.avatar"></nz-avatar>-->
      <nz-avatar class="avatar" nzIcon="anticon anticon-user" style="background-color:#87d068;"></nz-avatar>
      <div class="info">
        <strong>{{settings.user.name}}</strong>
        <p class="text-truncate mb0">{{settings.user.email}}</p>
      </div>
    </div>
    <ul nz-menu>
      <li nz-menu-item (click)="msgSrv.success('profile')">个人资料</li>
      <li nz-menu-item (click)="msgSrv.success('settings')">设置</li>
      <li nz-menu-item (click)="dic.clear()">清理缓存</li>
      <li nz-menu-item (click)="logout()">登出</li>
    </ul>
  </nz-dropdown>
  <sidebar-nav class="d-block py-lg"></sidebar-nav>
</div>
