<nz-card>
  <div nz-row>
    <div nz-col nzSpan="8">
      <input nz-input type="search" class="form-control input-sm" placeholder="输入id、班名、中教老师进行搜索" [formControl]="wordFilter" >
    </div>
    <div nz-col nzSpan="16">
      <div nz-row nzType="flex" nzJustify="end">
        <button (click)="add()" nz-button nzType="primary" acl acl [acl-ability]="'team-create'">添加班级</button>
        <button nz-button nzType="default" (click)="load()">刷新列表</button>
      </div>
    </div>
  </div>
  <div nz-row style="margin-top: 8px">
    <nz-table #filterTable [nzData]="displayList | filter:['name', 'id', 'cteacher']:searchWord" nzSize="middle" [nzPageSize]="8" [nzShowPagination]="true" [nzLoading]="loading">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzWidth="150px" nzShowSort nzSortKey="num" nzSort="ascend">班号</th>
        <th nzWidth="300px" nzShowSort nzSortKey="name">班名</th>
        <th nzWidth="200px" nzShowSort nzSortKey="student_count">班级人数</th>
        <th nzWidth="200px" nzShowSort nzSortKey="cteacher">中教老师</th>
        <th nzWidth="300px" nzShowSort nzSortKey="place_id">上课地点</th>
        <th nzWidth="400px">上课时间</th>
        <th nzWidth="400px">课程进度</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of filterTable.data">
        <td>{{item.num}}</td>
        <td><a [routerLink]="['/teams/team',item.id]">{{item.name}}</a></td>
        <td>{{item.student_count}}</td>
        <td>{{item.cteacher}}</td>
        <td>
          <ellipsis lines="1">
            {{item.place}}
          </ellipsis>
        </td>
        <td>
            <span *ngFor="let course of item.courses">
              {{course.dow | trans:dowList:'value':'label'}}{{course.stime*1000 | _date: 'HH:mm'}}~{{course.etime*1000 | _date: 'HH:mm'}}
            </span>
            <span *ngIf="!item.courses.length">
              无
            </span>
        </td>
        <td>
          {{item.next_lesson}}
          <span *ngIf="!item.next_lesson">
              无
          </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
