<nz-card>
    <!--<div class="mb-md">-->
    <div nz-row>
        <div nz-col nzSpan="8">
            <input nz-input type="search" class="form-control input-sm" placeholder="输入用户姓名进行搜索" [formControl]="wordFilter" >
        </div>
        <div nz-col nzSpan="16">
            <div nz-row nzType="flex" nzJustify="end">
                <button (click)="add()" nz-button nzType="primary">添加用户</button>
            </div>
        </div>
    </div>
    <div nz-row style="margin-top: 8px">
        <nz-table #filterTable [nzData]="displayList | filter:['name','ename']:searchWord" nzSize="Middle" [nzShowPagination]="false" [nzFrontPagination]="false">
            <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th nzShowSort nzSortKey="id" nzSort="ascend">ID</th>
                <th>姓名</th>
                <th>英文名</th>
                <th>邮箱</th>
                <th nzShowFilter [nzFilterMultiple]="true" [nzFilters]="roleList" (nzFilterChange)="filter($event)">角色</th>
                <th nzShowSort nzSortKey="agentCount">学生数（顾问担当）</th>
                <th nzShowSort nzSortKey="teacheCount">学生数（教师担当）</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of filterTable.data">
                <td>{{item.id}}</td>
                <!--<td><a [routerLink]="['/students/student',student.id]">{{student.name}}</a></td>-->
                <td><a (click)="change(item.id)">{{item.name}}</a></td>
                <td>{{item.ename}}</td>
                <td>{{item.email}}</td>
                <td>
                    <span *ngFor="let role of item.role">
                            {{role}}
                        </span>
                    <span *ngIf="!item.role.length">
                            无
                        </span>
                </td>
                <td>{{item.agentCount}}</td>
                <td>{{item.teacheCount}}</td>
                <td>
                    <a (click)="reset(item.email)">重置密码</a>
                    <!--<nz-divider nzType="vertical"></nz-divider>-->
                    <!--<a>修改信息</a>-->
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>
</nz-card>