<form nz-form [formGroup]="formModel">
  <nz-form-item>
    <nz-form-label [nzSpan]="7">添加学生</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select [nzMaxMultipleCount]="3" nzMode="multiple" nzPlaceHolder="选择要添加的学生" formControlName="students">
        <nz-option *ngFor="let option of studentList" [nzLabel]="option.name+option.ename" [nzValue]="option.id"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" (click)="save()" [disabled]="!formModel.valid" [nzLoading]="loading">保存</button>
  </div>
</form>
