<input nz-input type="search" class="form-control input-sm" placeholder="输入学生姓名、班名、中外教老师进行搜索" [formControl]="wordFilter" >
<div *ngFor="let data of displayList">
<nz-card [nzTitle]="data.date">
    <nz-table #newLessonsTable [nzData]="data.courses | filter:['student','team','cteacher','fteacher']:searchWord" nzSize="middle" [nzShowPagination]="false" [nzFrontPagination]="false">
        <thead>
      <tr>
        <th>上课学员/班级</th>
        <th>课程类型</th>
        <th>中教老师</th>
        <th>上课时间</th>
        <th>外教老师</th>
        <th>外教时间</th>
        <th>上课地点</th>
        <th>课程名称</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-lesson [ngForOf]="newLessonsTable.data">
        <tr>
          <td>{{lesson.student ? lesson.student : ''}}{{lesson.team ? lesson.team : ''}}</td>
          <td>{{lesson.lesson_type}}</td>
          <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
          <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
          <td>{{lesson.fteacher ? lesson.fteacher : '无'}}</td>
          <td>{{lesson.fteacher_time ? (lesson.fteacher_time*1000 | _date: 'HH:mm') : '无'}}</td>
          <td>{{lesson.place}}</td>
          <td><a [routerLink]="['/lessons/lesson',lesson.id]">{{lesson.name}}</a></td>
          <td>
            <a (click)="op.deleteCourse(lesson.id)">删除</a>
          </td>
         </tr>
        </ng-template>
        </tbody>
    </nz-table>
  </nz-card>
</div>