<form nz-form [formGroup]="formModel">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="cn_name">
      <nz-form-explain *ngIf="formModel.get('cn_name').dirty && formModel.get('cn_name').errors">
        <ng-container *ngIf="formModel.get('cn_name').hasError('required')">
          请输入名称
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>name</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="name">
      <nz-form-explain *ngIf="formModel.get('name').dirty && formModel.get('name').errors">
        <ng-container *ngIf="formModel.get('name').hasError('required')">
          请输入name
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" (click)="save()" [disabled]="!formModel.valid" [nzLoading]="loading">保存</button>
  </div>
</form>
