<nz-card>
  <!--<div class="mb-md">-->
  <div nz-row>
    <div nz-col nzSpan="8">
      <input nz-input type="search" class="form-control input-sm" placeholder="输入id、姓名、中外教老师进行搜索" [formControl]="wordFilter" >
    </div>
    <div nz-col nzSpan="16">
      <div nz-row nzType="flex" nzJustify="end">
        <button (click)="add()" nz-button nzType="primary" acl [acl-ability]="'student-create'">添加学生</button>
        <button nz-button nzType="default" (click)="load()">刷新列表</button>
      </div>
    </div>
  </div>
  <!--</div>-->
  <!--<simple-table #st [data]="studentList | filter:['name','ename','id','cteacher','fteacher','agent']:searchWord" [columns]="columns" frontPagination="false" showPagination="false" [scroll]="{ y: '440px' }"></simple-table>-->
  <div nz-row style="margin-top: 8px">
    <nz-table #filterTable [nzData]="displayList | filter:['name','ename','id','cteacher','fteacher']:searchWord" nzSize="middle" [nzPageSize]="8" [nzShowPagination]="true" [nzLoading]="loading">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="stopTime" nzWidth="150px" nzSort="descend">停课时间</th>
        <th nzWidth="200px">姓名</th>
        <th nzWidth="200px">英文名</th>
        <th nzShowSort nzSortKey="total" nzWidth="150px">剩余课时</th>
        <th nzShowSort nzSortKey="waijiao" nzWidth="100px">外教</th>
        <th nzShowSort nzSortKey="zhongjiao" nzWidth="100px">中教</th>
        <th nzWidth="180px">中教老师</th>
        <th nzShowFilter [nzFilterMultiple]="true" [nzFilters]="agentList" (nzFilterChange)="filter($event)" nzWidth="180px">课程顾问</th>
        <th nzWidth="100px"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of filterTable.data">
        <td>{{student.stopTime*1000 | _date: 'YYYY/MM/DD'}}</td>
        <td><a [routerLink]="['/students/student',student.id]">{{student.name}}</a></td>
        <td>{{student.ename}}</td>
        <td>{{student.total}}</td>
        <td>{{student.waijiao}}</td>
        <td>{{student.zhongjiao}}</td>
        <td>{{student.cteacher}}</td>
        <td>{{student.agent}}</td>
        <td nzWidth="100px"><a (click)="stop(student.id)" acl [acl-ability]="'student-status-change'">不续费</a></td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
