<nz-card>
  <div nz-row>
    <div nz-col nzSpan="8">
      <input nz-input type="search" class="form-control input-sm" placeholder="输入id、班名、中教老师进行搜索" [formControl]="wordFilter" >
    </div>
    <div nz-col nzSpan="16">
      <div nz-row nzType="flex" nzJustify="end">
        <button (click)="add()" nz-button nzType="primary">添加班级</button>
      </div>
    </div>
  </div>
  <div nz-row style="margin-top: 8px">
    <nz-table #filterTable [nzData]="displayList | filter:['name', 'id', 'cteacher']:searchWord" nzSize="Middle" [nzScroll]="{ y: '435px' }" [nzShowPagination]="false" [nzFrontPagination]="false">
      <thead>
      <tr>
        <th nzWidth="150px">班级编号</th>
        <th nzWidth="400px">班名</th>
        <th nzWidth="200px">中教老师</th>
        <th nzWidth="200px">上课地点</th>
        <th nzWidth="400px">上课时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of filterTable.data">
        <td>{{item.id}}</td>
        <td><a [routerLink]="['/students/team',item.id]">{{item.name}}</a></td>
        <td>{{item.cteacher}}</td>
        <td>{{item.place}}</td>
        <td>
            <span *ngFor="let course of item.courses">
              {{course.dow | trans:dowList:'value':'label'}}{{course.stime*1000 | _date: 'HH:mm'}}~{{course.etime*1000 | _date: 'HH:mm'}}
            </span>
            <span *ngIf="!item.courses.length">
              无
            </span>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
