<nz-card>
  <!--<div class="mb-md">-->
  <div nz-row>
    <div nz-col nzSpan="8">
      <input nz-input type="search" class="form-control input-sm" placeholder="输入id、姓名、中外教老师进行搜索" [formControl]="wordFilter" >
    </div>
    <div nz-col nzSpan="16">
      <div nz-row nzType="flex" nzJustify="end">
        <button nz-button nzType="default" (click)="load()">刷新列表</button>
      </div>
    </div>
  </div>
  <!--</div>-->
  <!--<simple-table #st [data]="studentList | filter:['name','ename','id','cteacher','fteacher','agent']:searchWord" [columns]="columns" frontPagination="false" showPagination="false" [scroll]="{ y: '440px' }"></simple-table>-->
  <div nz-row style="margin-top: 8px">
    <nz-table #filterTable [nzData]="displayList | filter:['name','ename','id','cteacher','fteacher']:searchWord" nzSize="Middle" [nzScroll]="{ y: '435px' }" [nzShowPagination]="false" [nzFrontPagination]="false">
      <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="id" nzWidth="150px" nzSort="descend">学生编号</th>
        <th nzWidth="200px">姓名</th>
        <th nzWidth="250px">英文名</th>
        <th nzShowSort nzSortKey="times" nzWidth="150px">剩余课次</th>
        <th nzWidth="200px">中教老师</th>
        <th nzWidth="300px">班级</th>
        <th nzShowFilter [nzFilterMultiple]="true" [nzFilters]="agentList" (nzFilterChange)="filter($event)" nzWidth="250px">课程顾问</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of filterTable.data">
        <td>{{student.id}}</td>
        <td><a [routerLink]="['/students/student',student.id]">{{student.name}}</a></td>
        <td>{{student.ename}}</td>
        <td>{{student.times}}</td>
        <td>{{student.cteacher}}</td>
        <td><a [routerLink]="['/teams/team',student.team_id]">{{student.team}}</a></td>
        <td>{{student.agent}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>
