<form nz-form [formGroup]="formModel">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>班级名称</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="name" placeholder="请输入班级名称">
      <nz-form-explain *ngIf="formModel.get('name').dirty && formModel.get('name').errors">
        <ng-container *ngIf="formModel.get('name').hasError('required')">
          请输入班级名称
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">中教老师</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="cteacher_user_id" nzShowSearch nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of cteacherList" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">上课地点</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="place_id" nzShowSearch nzAllowClear nzPlaceHolder="Choose">
        <nz-option *ngFor="let option of placeList" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" (click)="save()" [disabled]="!formModel.valid" [nzLoading]="loading">保存</button>
  </div>
</form>
