<div nz-row nzGutter="16">
  <div nz-col [nzSpan]="6">
    <div nz-row>
      <nz-card nzTitle="{{ team.name }}" [nzExtra]="editTeamTemplate">
        <sv-container size="small" [col]="1">
          <sv label="中教老师" align="right">{{team.cteacher}}</sv>
          <sv label="上课地点" align="right">{{team.place}}</sv>
        </sv-container>
        <!--<sv-container size="small" layout="vertical" [gutter]="40" [col]="1" >-->
          <!--<sv label="上课地点">{{team.place}}</sv>-->
        <!--</sv-container>-->
      </nz-card>
    </div>
    <div nz-row>
      <nz-card nzTitle="学生列表" [nzExtra]="addStudentTemplate" id="studentList">
        <nz-table #middleTable nzSize="middle" [nzData]="team.students" [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="false">
          <tbody>
            <tr *ngFor="let item of middleTable.data">
              <td><a [routerLink]="['/students/student',item.id]">{{item.name}}{{item.ename}}</a></td>
              <td><a (click)="deleteStudent(item.id)" acl [acl-ability]="'team-change'">删除</a></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
  </div>

  <div nz-col [nzSpan]="18">
    <nz-card nzTitle="固定课程" [nzExtra]="courseTemplate">
      <nz-table #coursesTable [nzData]="team.courses" nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false">
        <thead>
        <tr>
          <th>课程名称</th>
          <th>上课日期</th>
          <th>上课时间</th>
          <th>中教老师</th>
          <th>外教老师</th>
          <th>上课地点</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let course of coursesTable.data">
          <td><a [routerLink]="['/lessons/course',course.id]">{{course.name}}</a></td>
          <td>每{{course.dow | trans:dowList:'value':'label'}}</td>
          <td>{{course.stime*1000 | _date: 'HH:mm'}}~{{course.etime*1000 | _date: 'HH:mm'}}</td>
          <td>{{course.cteacher}}</td>
          <td>{{course.fteacher}}</td>
          <td>{{course.place}}</td>
          <td>
            <a (click)="courseOp.deleteCourse(course.id)" acl [acl-ability]="'course-delete'">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>

    <nz-card id="tabCard">
      <nz-card-tab>
        <nz-tabset>
          <nz-tab nzTitle="待上课程">
            <nz-table #newLessonsTable [nzData]="team.newlessons" nzSize="small" [nzShowPagination]="false" [nzFrontPagination]="false">
              <thead>
              <tr>
                <th nzShowExpand></th>
                <th>课程名称</th>
                <th>上课日期</th>
                <th>上课时间</th>
                <th>中教老师</th>
                <th>外教老师</th>
                <th>外教时间</th>
                <th>上课地点</th>
                <th><a (click)="createLesson()" acl [acl-ability]="'lesson-create'">安排课程</a></th>
              </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-lesson [ngForOf]="newLessonsTable.data">
                  <tr>
                    <td nzShowExpand [(nzExpand)]="lesson.expand"></td>
                    <td>
                      <a [routerLink]="['/lessons/lesson',lesson.id]">
                        <ellipsis lines="1" style="width: 100px;">
                          {{lesson.name}}
                        </ellipsis>
                      </a>
                    </td>
                    <td>{{lesson.date*1000 | _date: 'M月DD日(ddd)'}}</td>
                    <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
                    <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
                    <td>{{lesson.fteacher ? lesson.fteacher : '无'}}</td>
                    <td>{{lesson.fteacher_time ? (lesson.fteacher_time*1000 | _date: 'HH:mm') : '无'}}</td>
                    <td>
                      <ellipsis lines="1" style="width: 100px;">
                        {{lesson.place}}
                      </ellipsis>
                    </td>
                    <td>
                      <a (click)="lessonOp.deleteLesson(lesson.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                    </td>
                  </tr>
                  <tr [nzExpand]="lesson.expand">
                    <td></td>
                    <td colspan="8">
                      <nz-table #innerTable [nzData]="lesson.sub_lessons" nzSize="middle"  [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="false">
                        <tbody>
                        <tr *ngFor="let item of innerTable.data">
                          <td>{{item.student}}</td>
                          <td><a [routerLink]="['/lessons/lesson',item.id]">查看课程</a></td>
                          <td><nz-badge [nzStatus]="'success'" [nzText]="item.status | trans:lessonStatusList:'value':'label'"></nz-badge></td>
                          <td>{{item.waijiao_cost}}外/{{item.zhongjiao_cost}}中</td>
                          <td>
                            <a (click)="lessonOp.deleteLesson(item.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                          </td>
                        </tr>
                        </tbody>
                      </nz-table>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </nz-table>
          </nz-tab>
          <nz-tab nzTitle="已上课程">
            <nz-table #oldLessonsTable [nzData]="team.oldlessons" nzSize="small" [nzPageSize]="6" [nzHideOnSinglePage]="true">
              <thead>
              <tr>
                <th nzShowExpand></th>
                <th>课程名称</th>
                <th>上课日期</th>
                <th>上课时间</th>
                <th>中教老师</th>
                <th>外教老师</th>
                <th>秏课</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <ng-template ngFor let-lesson [ngForOf]="oldLessonsTable.data">
                  <tr>
                    <td nzShowExpand [(nzExpand)]="lesson.expand"></td>
                    <td>
                      <a [routerLink]="['/lessons/lesson',lesson.id]">
                        <ellipsis lines="1" style="width: 100px;">
                          {{lesson.name}}
                        </ellipsis>
                      </a>
                    </td>
                    <td>{{lesson.date*1000 | _date: 'YYYY/MM/DD(ddd)'}}</td>
                    <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
                    <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
                    <td>{{lesson.fteacher ? lesson.fteacher : '无'}}</td>
                    <td>{{lesson.waijiao_cost}}外/{{lesson.zhongjiao_cost}}中</td>
                    <td>
                      <a (click)="lessonOp.deleteLesson(lesson.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                    </td>
                  </tr>
                  <tr [nzExpand]="lesson.expand">
                    <td></td>
                    <td colspan="7">
                      <nz-table #innerTable [nzData]="lesson.sub_lessons" nzSize="middle"  [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="false">
                        <tbody>
                        <tr *ngFor="let item of innerTable.data">
                          <td>{{item.student}}</td>
                          <td><a [routerLink]="['/lessons/lesson',item.id]">查看课程</a></td>
                          <td><nz-badge [nzStatus]="'success'" [nzText]="item.status | trans:lessonStatusList:'value':'label'"></nz-badge></td>
                          <td>{{item.waijiao_cost}}外/{{item.zhongjiao_cost}}中</td>
                          <td>
                            <a (click)="lessonOp.copy(item.id)" acl [acl-ability]="'lesson-create'">复制</a>
                            <span acl [acl-ability]="{ role: ['lesson-create', 'lesson-delete'], mode: 'allOf' }"> | </span>
                            <a (click)="lessonOp.deleteLesson(item.id)" acl [acl-ability]="'lesson-delete'">删除</a>
                          </td>
                        </tr>
                        </tbody>
                      </nz-table>
                    </td>
                  </tr>
                </ng-template>
              </tbody>
            </nz-table>
          </nz-tab>
        </nz-tabset>
      </nz-card-tab>
    </nz-card>
  </div>
</div>

<ng-template #editTeamTemplate>
  <a (click)="change()" acl [acl-ability]="'team-change'">修改信息</a>
</ng-template>
<ng-template #addStudentTemplate>
  <a (click)="addStudent()" acl [acl-ability]="'team-change'">增加学生</a>
</ng-template>
<ng-template #courseTemplate>
  <a (click)="createCourse()" acl [acl-ability]="'course-create'">安排固定课程</a>
</ng-template>
