<input nz-input type="search" class="form-control input-sm" placeholder="输入学生姓名、班名、中外教老师进行搜索" [formControl]="wordFilter" >
<div *ngFor="let data of displayList">
  <nz-card [nzTitle]="data.date | _date: 'MM月DD日 dddd'">
    <nz-table #newLessonsTable [nzData]="data.lessons | filter:['student','team','cteacher','fteacher']:searchWord" nzSize="middle" [nzShowPagination]="false" [nzFrontPagination]="false">
      <thead>
      <tr>
        <th nzShowExpand nzWidth="80px"></th>
        <th>上课学员/班级</th>
        <th>课程类型</th>
        <th>中教老师</th>
        <th>上课时间</th>
        <th>外教时间</th>
        <th>课程状态</th>
        <th>上课地点</th>
        <th>课程名称</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-lesson [ngForOf]="newLessonsTable.data">
          <tr>
            <td [nzShowExpand]="!!lesson.sub_lessons" [(nzExpand)]="lesson.expand"></td>
            <td>{{lesson.student ? lesson.student : ''}}{{lesson.team ? lesson.team : ''}}</td>
            <td>{{lesson.lesson_type}}</td>
            <td>{{lesson.cteacher ? lesson.cteacher : '无'}}</td>
            <td>{{lesson.stime*1000 | _date: 'HH:mm'}}~{{lesson.etime*1000 | _date: 'HH:mm'}}</td>
            <td>{{lesson.fteacher_time ? (lesson.fteacher_time*1000 | _date: 'HH:mm') : '无'}}</td>
            <td><nz-badge [nzStatus]="'success'" [nzText]="lesson.status | trans:lessonStatusList:'value':'label'"></nz-badge></td>
            <td>{{lesson.place}}</td>
            <td><a [routerLink]="['/lessons/lesson',lesson.id]">{{lesson.name}}</a></td>
            <td>
              <nz-dropdown [nzTrigger]="'click'">
                <a nz-dropdown>
                  课程操作 <i class="anticon anticon-down"></i>
                </a>
                <ul nz-menu>
                  <li nz-menu-item [hidden]="lesson.status != 2" (click)="op.confirm(lesson)">确认已上</li>
                  <li nz-menu-item (click)="op.changeName(lesson)">修改名称</li>
                  <li nz-menu-item [hidden]="lesson.lesson_type_id == 'bt'" (click)="op.changeScore(lesson)">打分({{lesson.score}})</li>
                  <li nz-menu-item [hidden]="true" (click)="op.deleteLesson(lesson.id)">删除</li>
                </ul>
              </nz-dropdown>
            </td>
          </tr>
          <tr [nzExpand]="lesson.expand">
            <td></td>
            <td colspan="9">
              <nz-table #innerTable [nzData]="lesson.sub_lessons" nzSize="middle"  [nzShowPagination]="false" [nzFrontPagination]="false" [nzBordered]="false">
                <tbody>
                  <tr *ngFor="let item of innerTable.data">
                    <td><a [routerLink]="['/students/student',item.student_id]">{{item.student}}</a></td>
                    <td><a [routerLink]="['/lessons/lesson',item.id]">查看课程</a></td>
                    <td><nz-badge [nzStatus]="'success'" [nzText]="item.status | trans:lessonStatusList:'value':'label'"></nz-badge></td>
                    <td>外{{item.waijiao_cost}}/中{{item.zhongjiao_cost}}/精{{item.jingpin_cost}}</td>
                    <td>
                      <span *ngIf="item.status == 2">
                        <a (click)="op.confirm(item)">确认已上</a>
                      </span>
                      <span *ngIf="item.status < 3">
                        <nz-divider nzType="vertical"></nz-divider><a (click)="op.leave(item)">请假</a>
                      </span>
                      <nz-divider nzType="vertical"></nz-divider><a (click)="op.changeScore(item)">打分({{item.score}})</a>
                      <nz-divider nzType="vertical"></nz-divider><a (click)="op.deleteLesson(item.id)">删除</a>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-card>
</div>